body {
    font-family: roboto, sans-serif;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    width: 1000px;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    padding: 10px 35px;
}


/* Header */

.header {
    justify-content: space-between;
}

.webheader {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: #f9faf8;
}

ul {
    color:#f9faf8;
    display: flex;
    padding: 0;
    gap: 20px;
}

li {
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
}

/* Main Content */

/* Name Board */

.nameboard {
    background-color: #1F2937;
    color: #f9faf8;
}

.nb {
    margin: 117px 0;
}

.tboard {
    padding-right: 55px;
}

.placeholder {
    width: 530px;
    height: 235px;
}

.title {
    font-size: 48px;
    font-weight: bolder;
}

.subtitle {
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 15px;
}

/* Infomation Cards */

.ic {
    flex-direction: column;
    margin: 53px auto;
}

#infotitle {
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 53px;
}

.cards {
    display: flex;
    padding-bottom: 137px;
    gap: 50px;
}

.card {
    max-height: 170px;
    max-width: 170px;
    text-align: center;
}
.card img {
    width: 100%;
    height: auto;
}

/* Quote or Testimonial */

.testimonial {
    background-color: #e5e7eb;
}

.qt {
    margin: 100px auto;
}

#qbox {
    display: flex;
    flex-direction: column;
    width: 800px;
}

#quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

#credit {
    font-size: 22px;
    font-weight: bold;
    align-self: flex-end;
    padding-right: 35px;
}

/* Call to Action */
